@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Roboto');
}

$mineFont: 'Roboto', sans-serif;

$lineColor: #617d8a;

$contentText: #617d8a;

$linksButtonAboutContactTitle: #1fbcd3;

$cardTitle: #1697a6;

$postDescription: #3f9587;

$cardBackground: #efefef;

$inputText: #757575;

$hoverColor: #617d8a;

$textButtonTextHover: #ffffff;

$backgroundColor: #ffffff;