@font-face {
    font-family: 'Merriweather', serif;
    src: url('https://fonts.googleapis.com/css?family=Merriweather');
}

$mineFont: 'Merriweather', serif;

$lineColor: #cfd8dc;

$contentText: #757575;

$linksButtonAboutContactTitle: #fc5830;

$cardTitle: #617d8a;

$postDescription: #bdbdbd;

$cardBackground: #ffffff;

$inputText: #757575;

$hoverColor: #757575;

$textButtonTextHover: #ffffff;

$backgroundColor: #efefef;