@font-face {
  font-family: 'Merriweather', serif;
  src: url("https://fonts.googleapis.com/css?family=Merriweather"); }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Merriweather", serif;
  background-color: #efefef; }

.main-wrapper {
  max-width: 1200px;
  margin: 0 auto; }

header {
  height: 300px;
  display: flex;
  justify-content: space-between; }
  header .logo {
    width: 470px; }
    header .logo img {
      height: 100%; }
  header nav {
    display: flex;
    justify-content: center;
    align-items: flex-end; }
    header nav a {
      text-decoration: none;
      padding: 20px 78px;
      border: 1px;
      border-color: #cfd8dc;
      border-style: solid none;
      margin-bottom: 35px;
      text-transform: uppercase;
      color: #fc5830;
      font-size: 22px; }
    header nav a:hover {
      color: #ffffff;
      background-color: #757575; }

.toolbar {
  width: 100%;
  display: flex;
  justify-content: flex-end; }
  .toolbar [placeholder="Search"] {
    color: #fc5830;
    padding: 10px 15px;
    font-size: 20px;
    margin-bottom: 20px;
    border: 2px solid #fc5830;
    box-shadow: none;
    background-color: transparent; }
  .toolbar ::placeholder {
    color: #fc5830; }

.post-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start; }
  .post-list article {
    width: 49%;
    margin-bottom: 20px; }
    .post-list article img {
      width: 100%;
      padding: 10px;
      background-color: #ffffff; }
    .post-list article div {
      padding: 20px;
      margin-top: -15px;
      background-color: #ffffff; }
      .post-list article div .post-description {
        padding: 10px;
        border-bottom: 1px solid #cfd8dc;
        color: #bdbdbd; }
      .post-list article div h3 {
        font-size: 22px;
        text-transform: uppercase;
        line-height: 1.8;
        color: #617d8a; }
      .post-list article div p {
        font-size: 20px;
        line-height: 1.5;
        padding-bottom: 20px;
        color: #757575; }

.about {
  width: 100%; }
  .about h1 {
    font-size: 24px;
    text-transform: uppercase;
    line-height: 1.8;
    text-align: right;
    margin-top: 80px;
    color: #fc5830; }
  .about p {
    font-size: 20px;
    line-height: 1.5;
    padding-bottom: 20px;
    color: #757575; }
  .about img {
    width: 100%; }

.contact-form {
  width: 100%;
  text-transform: uppercase;
  text-align: right; }
  .contact-form h1 {
    font-size: 24px;
    text-transform: uppercase;
    line-height: 1.8;
    text-align: right;
    margin-top: 80px;
    color: #fc5830; }
  .contact-form h4 {
    color: #fc5830; }
  .contact-form form {
    margin-top: 30px; }
    .contact-form form .form-control {
      width: 100%;
      color: #757575;
      padding: 15px 15px;
      font-size: 20px;
      margin-bottom: 20px;
      border: 1px solid #cfd8dc;
      box-shadow: none;
      background-color: transparent; }
    .contact-form form textarea {
      height: 140px; }
    .contact-form form ::placeholder {
      color: #757575; }
    .contact-form form .btn {
      padding: 14px 100px;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: bold;
      background: #fc5830;
      border: 1px solid transparent;
      color: #ffffff; }
    .contact-form form .btn:hover {
      background-color: #757575; }

span {
  color: #757575; }
