@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Baloo');

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
}

a {
    color: #fa713e;
    text-decoration: none;
    transition: all.6s ease;
    -ms-transition: all.6s ease;
    -o-transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
}

a:hover {
    color: #c34f25;
    text-decoration: none;
    transition: all.6s ease;
    -ms-transition: all.6s ease;
    -o-transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9;
    transition: all.3s ease-out;
    -ms-transition: all.3s ease-out;
    -o-transition: all.3s ease-out;
    -moz-transition: all.3s ease-out;
    -webkit-transition: all.3s ease-out;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

header {
    background-size: 100%;
    background: url(../img/11.jpg) no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 300px;
    width: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#logo> {
    height: 50px;
}

#logo>a>img {
    width: 50px;
    height: 50px;
    float: left;
}

#logo>a>span {
    float: left;
    color: #333333;
    font-family: 'Baloo';
    font-size: 2em;
    margin-left: 5px;
}

#logo>a>img {
    margin-left: 5%; 
}

#logo>a>span>i {
    color: #4db406;
}

@media (min-width: 950px) {
    header>div#logo>a>img {
    margin-left: 5%;
    }
    #logo {
        float: left;
        width: 30%;
    }

    #reg_auth {
        float: right;
        width: 30%;
    }
}

@media (max-width: 641px) {
    header>div#logo>a>img {
    margin-left: 5%; 
    }
    #logo {
        width: 100%;
    }

    #reg_auth {
        visibility: hidden;
        display: none;
    }
}

#about {
    height: 150px;
    text-align: center;
    font-family: 'Roboto', serif;
    font-size: 3em;
    padding-top: 110px;
}

#about>a {
    color: #333333;
    font-weight: bold;
}

#about>a:hover {
    color: #777777;
}

#about>a>span {
    color: #333333;
    font-weight: bold;
    font-family: 'Baloo';
}

#about>a>span>i {
    color: #4db406;
    font-weight: bold;
}

#reg_auth>a {
    color: white;
}

#lgn {
    float: right;
    margin-right: 5%;
    margin-top: 10px;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 1em;
    background-color: #333333;
    font-family: 'Roboto', serif;
}

#lgn:hover {
    background-color: #777777;
}

#reg {
    float: right;
    margin-right: 5%;
    margin-top: 10px;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 1em;
    background-color: #4db406;
    font-family: 'Roboto';
}

#reg:hover {
    background-color: #777777;
}

nav {
    opacity: 1;
    background-color: #333333;
    width: 99.4%;
    padding: 7px 0.3%;
    float: left;
    font-family: 'Roboto';
}

.fixed {
    position: fixed;
    top: 0;
    opacity: 0.80;
}

.fixed:hover {
    opacity: 1;
}

#menuShow {
    color: white;
    font-size: 1em;
    margin-left: 5%;
    float: left;
    margin-bottom: 2px;
    display: inline;
    cursor: pointer;
}

#menuShow:hover {
    color: #a2b9b9;
}

#hideMenu {
    margin-left: : 10px;
    margin-bottom: 2px;
    display: inline;
}

#hideMenu>a {
    color: white;
    font-size: 1em;
    margin-left: 5%;
}

#hideMenu>a:hover {
    color: #a2b9b9;
}

#mobilMenu {
    display: none;
    width: 100%;
    float: left;
}

#mobilMenu>a {
    color: white;
    font-size: 1em;
    margin-left: 5%;
}

#mobilMenu>a:hover {
    color: #a2b9b9;
}

@media (min-width: 642px) {
    #menuShow {
        display: none;
        visibility: hidden;
    }
}

@media (max-width: 641px) {
    #hideMenu {
        display: none;
        visibility: hidden;
    }
}

#search {
    float: right;
    color: white;
    cursor: pointer;
    font-size: 1em;
    margin-right: 10px;
    margin-bottom: 2px;
    display: inline;
}

#wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#content {
    flex: 1 0 auto;
}

footer {
    float: left;
    background-color: #333333;
    width: 98%;
    padding: 1%;
    font-family: 'Roboto';
}

#site_name {
    margin-right: 5%;
    color: white;
    font-size: 1.5em;
    float: right;
}

#site_name>span {
    font-family: 'Baloo';
}

@media (max-width: 1080px) {
    #clear {
        clear: both;
    }
}

#footer_menu {
    font-size: 1.2em;
}

#footer_menu>a {
    margin-left: 2%;
    color: #f4f4f4;
}

#footer_menu>a:hover {
    border-bottom: 1px solid silver;
    color: #a2b9b9;
}

#rights {
    float: left;
    margin-left: 10%;
    font-size: 1.1em;
    margin-top: 50px;
}

#rights>a {
    color: white;
}

#rights>a:hover {
    border-bottom: 1px solid silver;
    color: #a2b9b9;
}

#social {
    float: right;
    width: 40%;
    margin-right: 5%;
    margin-top: 10px;
}

#social>a {
    border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #4db406;
    margin-left: 2%;
    width: 30px;
    height: 30px;
    float: right;
    color: white;
    text-align: center;
    line-height: 30px;
    font-size: 1.2em;    
}

#social>a:hover {
    background-color: #a2b9b9;
}

@media (max-width: 520px) {
    #site_name {
        display: none;
    }

    #social {
        width: 100%;
    }
}


