/*===== Global Style =====*/

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

/*===== Color Style =====*/

.letter-blue {
  color: #4285f4;
}

.letter-red {
  color: #ea4335;
}

.letter-yellow {
  color: #fbbc05;
}

.letter-green {
  color: #34a853;
}

.letter-gray {
  color: #615d5c;
}

.letter-white {
  color: #ffffff;
}

.link-blue,
.text-blue {
  border-bottom: 2px solid #4285f4;
}

.link-blue:hover,
.text-blue:hover {
  color: #ffffff;
  background: #4285f4;
}

.link-red,
.text-red {
  border-bottom: 2px solid #ea4335;
}

.link-red:hover,
.text-red:hover {
  color: #ffffff;
  background: #ea4335;
}

.link-yellow,
.text-yellow {
  border-bottom: 2px solid #fbbc05;
}

.link-yellow:hover,
.text-yellow:hover {
  color: #ffffff;
  background: #fbbc05;
}

.link-green,
.text-green {
  border-bottom: 2px solid #34a853;
}

.link-green:hover,
.text-green:hover {
  color: #ffffff;
  background: #34a853;
}

/*===== Header Style =====*/

.header {
  width: 100%;
  background: #ffffff;
  opacity: 0.8;
  position: fixed;
  z-index: 3;
}

.header-menu {
  max-width: 1000px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*===== Logo =====*/

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-icon-letter {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  background-image: url(../images/letter-c.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.logo-icon-bg {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-image: url(../images/icon-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  transform-origin: center;
  animation: logo-icon 5s linear infinite;
}

@keyframes logo-icon {
  from {}
  to {transform: rotateZ(360deg);}
}

.logo-title {
  z-index: 2;
}

.logo-letter {
  margin-left: -2px;
  font-size: 28px;
}

.logo-text {
  font-size: 28px;
  font-family: 'Dancing Script', cursive;
  margin: 0 0 35px -65px;
  z-index: 3;
}

/*===== Navigation =====*/

.nav {
  margin-right: 30px;
  font-size: 20px;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  color: #333333;
  padding: 10px 15px 10px 15px;
  border-radius: 1px;
}

/*===== Social Network =====*/

.social {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-link {
  width: 40px;
  height: 40px;
  background-color: #b6b6b6;
  border-radius: 50%;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link:hover {
  background-color: #615d5c;
}

.social-fa {
  color: #ffffff;
}

@media (max-width: 769px) and (min-width: 319px) {

  .header-menu {
    max-width: 95%;
  }

  .nav-link {
    display: none;
  }
}

@media (max-width: 320px) {

  .header-menu {
    max-width: 95%;
  }

  .nav-link {
    display: none;
  }

  .social {
    font-size: 18px;
    padding-right: 5px;
  }

  .social-link {
    width: 30px;
    height: 30px;
  }
}


/*===== Mobil Menu =====*/

.mobil-menu {
  display: none;
}

.mobil-menu-link {
  position: absolute;
  /*right: -95px;*/
  transition: 0.3s;
  /*padding: 10px;*/
  width: 110px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 5px 0 0 5px;

  display: flex;
  justify-content: space-between;
}

.mobil-menu-link:hover {
  right: 0;
}

.mobil-about {
  top: 80px;
  right: -95px;
  background-color: #4285f4;
  padding: 10px;
}

.mobil-skills {
  top: 130px;
  right: -98px;
  background-color: #ea4335;
  padding: 10px 10px 10px 13px;
}

.mobil-portfolio {
  top: 180px;
  right: -97px;
  background-color: #fbbc05;
  padding: 10px 10px 10px 12px;
}

.mobil-contact {
  top: 230px;
  right: -98px;
  background-color: #34a853;
  padding: 10px 10px 10px 13px;
}

@media (max-width: 769px) {

  .mobil-menu {
    display: block;
  }
}

/*===== Main Style =====*/

.main {
  width: 100%;
  z-index: 2;
}

/*===== About =====*/

.about {
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-image: url(../images/bg5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-box {
  margin-right: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-title {
  color: #615d5c;
  font-size: 60px;
  font-family: 'Dancing Script', cursive;
  margin-bottom: 150px;
}

.about-link {
  color: #b6b6b6;
  font-size: 24px;
  background-color: #6a0201;
  padding: 30px;
  border-radius: 50%;
  margin: 500px 100px 0 100px;
}

.about-text {
  color: #615d5c;
  font-size: 20px;
  margin-top: 100px;
  align-self: center;
}

.about-link-mobil {
  display: none;
}

@media (max-width: 1025px) and (min-width: 769px) {

  .about-box {
    width: 80%;
    height: 60%;
    margin: 0 6% 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-link {
    color: #b6b6b6;
    font-size: 24px;
    background-color: #6a0201;
    padding: 30px;
    border-radius: 50%;
    margin: 60% 15% 0 10%;
  }
}

@media (max-width: 768px) and (min-width: 415px) {

  .about-box {
    width: 100%;
    height: 60%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .about-title {
    color: #615d5c;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    margin: 0;
  }

  .about-link {
    display: none;
  }

  .about-link-mobil {
    display: block;
    color: #b6b6b6;
    font-size: 24px;
    background-color: #6a0201;
    padding: 30px;
    border-radius: 50%;
  }

  .about-text {
    color: #615d5c;
    font-size: 20px;
    margin: 60% 0 15% 0;
    align-self: center;
  }
}

@media (max-width: 414px) {

  .about-box {
    width: 100%;
    height: 60%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .about-title {
    color: #615d5c;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    margin: 0;
  }

  .about-link {
    display: none;
  }

  .about-link-mobil {
    display: block;
    color: #b6b6b6;
    font-size: 18px;
    background-color: #6a0201;
    padding: 20px;
    border-radius: 50%;
  }

  .about-text {
    color: #615d5c;
    font-size: 20px;
    margin: 75% 0 15% 0;
    align-self: center;
  }
}

@media (max-height: 415px) {

  .about-box {
    width: 90%;
    height: 50%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .about-title {
    color: #615d5c;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    margin: 0;
    align-self: flex-start;
  }

  .about-link {
    display: block;
    color: #b6b6b6;
    font-size: 18px;
    background-color: #6a0201;
    padding: 20px;
    border-radius: 50%;
    margin: 5% 15% 10% 0;
    align-self: flex-end;
  }

  .about-link-mobil {
    display: none;
  }

  .about-text {
    color: #615d5c;
    font-size: 20px;
    margin: 0;
    align-self: center;
  }
}

.margin-left {
  margin-left: 10px;
}

.about-link:hover {
  color: #615d5c;
  background-color: #7fbc23;
}

/*===== Skills =====*/

.skills {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-title {
  color: #615d5c;
  font-size: 28px;
  font-family: 'Dancing Script', cursive;
  font-weight: 500;
}

.skills-container {
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.skills-content {
  text-align: center;
  font-size: 16px;
}

.skills-text {
  padding: 5px;
}

@media (max-width: 414px) {

  .skills {
    width: 100%;
    height: 100%;
  }

  .skills-title {
    margin: 70px 0 20px 0;
    font-size: 15px;
  }

  .skills-container {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .skills-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin-bottom: 30px;
  }

  .skills-text {
    margin-top: 10px;
  }

  .chart {
    margin-bottom: 15px;
  }

  .chart p {
    font-size: 14px;
    padding: 10px;
  }
}

@media (max-width: 320px) {

  .skills-title {
    font-size: 15px;
  }
}

@media (max-height: 415px) and (min-height: 321px) {

  .skills-title {
    margin-top: 20px;
  }

  .skills-container {
    margin: 10px;
  }

  .chart {
    margin: 10px;
  }

  .skills-text {
    font-size: 12px;
  }
}

@media (max-height: 320px) {

  .skills-container {
    display: none;
  }

  .skills-content {
    margin-top: 30px;
  }

  .skills-text {
    font-size: 10px;
  }
}

.chart {
  position: relative;
  display: inline-block;
  color: #999999;
  font-size: 20px;
  text-align: center;
}

.chart-text {
  padding: 50px 25px;
  width: 100px;
  height: 50px;
  border: 20px solid #f0f0f0;
  border-radius: 100px;
  line-height: 50px;
}

.chart img {
  position: absolute;
  max-width: 150px;
  max-height: 150px;
  background: white;
}

.chart p {
  text-align: center;
}

.desktop,
.web,
.mobile {
  top: 20px;
  left: 20px;
}

.desktop + svg .outer {
  stroke: #ea4335;
}

.web + svg .outer {
  stroke: #4285f4;
}

.mobile + svg .outer {
  stroke: #34a853;
}

.chart svg {
  position: absolute;
  top: 0;
  left: 0;
}

.outer {
  fill: transparent;
  stroke: #333;
  stroke-width: 5;
  stroke-dasharray: 534;
  transition: stroke-dashoffset 1s;
  -webkit-animation-play-state: running;
  -moz-transform: rotate(-89deg) translateX(-190px);
}

.chart:hover .outer {
  stroke-dashoffset: 534 !important;
  -webkit-animation-play-state: paused;
}

.chart[data-percent='100'] .outer {
  stroke-dashoffset: 0;
  -webkit-animation: show100 2s;
  animation: show100 2s;
}

.chart[data-percent='75'] .outer {
  stroke-dashoffset: 133;
  -webkit-animation: show75 2s;
  animation: show75 2s;
}

.chart[data-percent='50'] .outer {
  stroke-dashoffset: 267;
  -webkit-animation: show50 2s;
  animation: show50 2s;
}

.chart[data-percent='25'] .outer {
  stroke-dashoffset: 401;
  -webkit-animation: show25 2s;
  animation: show25 2s;
}

@-webkit-keyframes show100 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes show100 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes show75 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 134;
  }
}

@keyframes show75 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 124;
  }
}

@-webkit-keyframes show50 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 267;
  }
}

@keyframes show50 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 267;
  }
}

@-webkit-keyframes show25 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 401;
  }
}

@keyframes show25 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 401;
  }
}

/*===== Portfolio =====*/

.portfolio {
  width: 100%;
  height: 100vh;
  background-image: url(../images/bg2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-container {
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 70px;
}

.portfolio-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;justify-content: center;
  align-items: flex-end;
}

.img-1 {
  background-image: url(../images/Pear_OS.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-2 {
  background-image: url(../images/google_info.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-3 {
  background-image: url(../images/simple_calculator.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolio-text {
  margin-top: 20px;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
}

@media (max-width: 415px) {

  .portfolio {
    width: 100%;
    height: 100%;
  }

  .portfolio-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
  }

  .portfolio-text {
    margin: 20px;
  }
}

@media (min-height: 1023px) {

  .portfolio-container {
    width: 80%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
  }
}

@media (max-height: 414px) and (min-height:321px) {

  .portfolio-img {
    width: 150px;
    height: 150px;
  }

  .portfolio-text {
    font-size: 18px;
  }
}

@media (max-height: 320px) {

  .portfolio-container {
    width: 80%;
    height: 100%;
  }

  .portfolio-img {
    width: 120px;
    height: 120px;
  }

  .portfolio-text {
    font-size: 16px;
  }
}

/*===== Contact =====*/

.contact {
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-image: url(../images/bg9.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.contact-container {
  margin-bottom: 100px;
  text-align: center;
}

.contact-text {
  color: #ffffff;
  padding-top: 20px;
  font-size: 20px;
}

@media (max-height: 414px) {

  .contact-container {
    margin-bottom: 50px;
  }
}

/*===== Footer Style =====*/

.footer {
  width: 100%;
  height: 50px;
  background: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}

.footer-text {
  color: #999999;
}
